/* 페이지 전체 적용 */
.content{
	width: 800px;
	margin: 0 auto; 
}
/* 컨테이너 (전체 너비 800px) */
.container{
	width: 800px;
	margin: 0 auto;
}
/* Title : 자유게시판 */
.content-title{	
	font-weight: bold;
	text-align: center;
}

/* 총 게시물 수 : */
.content-count{
	text-align: right;
	font-weight: bold; 
}

/* 테이블 전체 적용 */
.content-table{
    width: 800px;
    margin: 0 auto;
    border-top: 1px solid black;
    border-spacing: 0;
    border-collapse: collapse;
}
a{
	text-decoration: none;
}
/* 테이블 상단 (헤드) */
.content-table-head{
	background-color: #e3e3e3;
}
	/* 테이블 상단 (0) 공지 */
.content-table-body-Notice{
	background-color: #F6F6F6;
}
	/* 테이블 상단 (1) 번호 */
.conNo{
	width: 10%;
	text-align: center;	
}
	/* 테이블 상단 (2) 타이틀 + [댓글 수] */
.conTitle{
	width: 40%;
}
	/* 테이블 상단 (3) 작성자 */
.conWriter{
	width: 20%;
	text-align: center;
}
	/* 테이블 상단 (4) 작성 날짜  */
.conCreate{
	width:15%;
	text-align: center;
}
	/* 테이블 상단 (5) 조회수 */
.conCount{
	width:10%;
	text-align: center;
}
/* 2. 리스트 출력 부분 */

	/* 리스트 행, 열 */
th,td{
    border-bottom: 1px solid black;
    padding: 10px;
    font-weight: noremal;  
}

/* 하단 전체 */
#content-foot {
	width: 800px;
    margin: 0 auto;
    padding: 0;
}
	/* 1. 검색파트 */
.content-foot-head .search-wrap{
	background-color: #f9f7f9;
    padding: 10px 15px;
    position: relative;
    margin: 0 auto;
    max-width: 100%;  
    text-align: center;
}
	/* (1) 제목, 검색 select option */
.search-wrap .select{
    padding: 10px;
    position: relative;
    margin: 0 auto;
    width: inherit;
    border: inherit;;
}
	/* (2) 하단 검색 버튼 */
.search-btn{
	background-color: #4B4B4B;
    color :white;
    border-radius: 5px;
    font-size: 13px;
}
/* 2. 전체목록보기, 글 작성하기 */
.content-foot-body{
	background-color: #f9f7f9;
    padding: 10px 15px;
    position: relative;
    margin: 0 auto;
    max-width: 100%; 
}

	/* 목록보기 + 글작성하기 버튼 */
.write-wrap{
    text-align: right;
}
	/* 목록보기 버튼 */
.list-btn{
	background-color: #4B4B4B;
    color :white;
    border-radius: 5px;
    font-size: 14px;
}
	/* 글 작성하기 버튼 */
.write-btn {
	background-color: #4B4B4B;
    color :white;
    border-radius: 5px;
    font-size: 14px;
}

/* 3. 페이징 번호 처리 */
.content-foot-foot{
	background-color: #f9f7f9;
    padding: 10px 15px;
    position: relative;
    margin: 0 auto;
    max-width: 100%; 
}
