@font-face {
	font-family: 'GmarketSansMedium';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	width: 100%;
	background-image: url("../img/img4.jpeg");
	background-size: cover;
}

html, body {
	margin: 0;
	padding: 0;
}

.container {
	font-family: 'GmarketSansMedium';
<<<<<<< HEAD
	min-height: 100vh;
    position: relative;
	padding-bottom: 130px;
=======
    position: relative;
>>>>>>> HS
}

.wrapper {
	height: 100vh;
<<<<<<< HEAD
	display: grid;
	place-items: center;
}

.typing-demo {
	width: 67ch;
	animation: typing 2s steps(22), blink .5s step-end infinite alternate;
	white-space: nowrap;
	overflow: hidden;
	border-right: 3px solid;
}

.typing-demo a {
	font-size: 80px;
	font-family: 'GmarketSansMedium';
	text-decoration: none;
	color: #000;
}

@keyframes typing {
=======
	display: flex;
	justify-content: center;
	align-items: center;
}

#typing {
	padding: 30px 0;
	text-align: center;
	font-size: 100px;
	font-family: 'GmarketSansMedium';
}

/*@keyframes typing {
>>>>>>> HS
	from {
		width: 0
	}
}
<<<<<<< HEAD
	
=======

>>>>>>> HS
@keyframes blink {
	50% {
		border-color: transparent
	}
<<<<<<< HEAD
}
=======
}*/

@keyframes blink-effect {
	50% {
		opacity: 0;
	}
}

.cursor {
	animation: blink-effect .7s step-end infinite;
}
>>>>>>> HS
