<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>모집 글 쓰기</title>
<style>
	textarea {
		resize: none;
	}
</style>
</head>
<body>
	<!-- 헤더 인클루드 -->
	<jsp:include page="/WEB-INF/views/common/header.jsp"></jsp:include>
	<br><!-- br 말고 마진으로 간격 조정 해야함 -->

	<form action="potWrite" method="post">
		<!-- 제목 -->
		<label for="postTitle">제목</label><br>
		<input type="text" id="postTitle" name="postTitle" required>
		<br><br>

		<!-- 닉네임(지정값 불러오기) -->
		<label for="nickname">작성자 : ${ loginUser.username }</label>
		<br><br>

		<!-- 본문 -->
		<label for="postContent">본문</label><br>
		<textarea id="postContent" name="postContent" rows="4" cols="50" required></textarea>
		<br><br>

		<!-- 모집 인원 -->
		<!-- 모집 인원을 본인이 적게 할 지 아니면 선택하게 할 지 정해야 함. 선택하게 할거면 최대인원은 몇명으로 할 지도 정해야함 -->
		<label for="recruitmentCount">모집 인원</label><br>
		<select name="headCount" id="headCount">
			<option value="" selected>인원을 선택하새요</option>
			<option value="1">2</option>
			<option value="2">3</option>
			<option value="3">4</option>
			<option value="4">5</option>
			<option value="5">6</option>
		</select>
		<br><br>

		<!-- 해시태그 -->
		<label for="hashtags">태그</label><br>
		<input type="text" id="hashtags" name="hashtags">
		<br><br>

		<!-- 등록, 취소 버튼 -->
		<button type="submit">등록</button>
		<button type="button">취소</button>

		<!-- 푸터 인클루드 -->
		<br><!-- br 말고 마진으로 간격 조정 해야함 -->
		<jsp:include page="/WEB-INF/views/common/footer.jsp"></jsp:include>
	</form>
</body>
</html>
